{% extends "layout.html" %}

{% block pageTitle %}
  Choose youre department
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Choose your department to proceed
      </h1>
      {% from "govuk/components/select/macro.njk" import govukSelect %}

      {{ govukSelect({
        id: "which_dep",
        name: "which_dep",
        label: {
          text: "Choose your deparment"
        },
        items: [
          {
            value: "people",
            text: "People",
            selected : true
          },
          {
            value: "applied_innovation",
            text: "Applied Innovation"
          },
          {
            value: "finance",
            text: "Finance"
          },
          {
            value: "digital_services",
            text: "Digital Services"
          },
          {
            value: "sales",
            text: "Sales"
          }
        ]
      }) }}
      
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Confirm",
        href: "#"
      }) }}
    

    </div>
  </div>

{% endblock %}
