{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Best Sales Employee
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/sales-menu">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if employee and employee.length > 0 %} 
      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Best Sales Employee
        </h1>
        <div class="govuk-panel__body">
          {{ employee[0].emp_first_name }} {{ employee[0].emp_last_name }}<br>
          <strong>Sales: {{ employee[0].Sales }}</strong>
        </div>
      </div>
      
      {% endif %}

    </div>
  </div>

{% endblock %}
