{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Choose youre department
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Choose your department to proceed
      </h1>
      {% from "govuk/components/select/macro.njk" import govukSelect %}

      <div class="choose_buttons" style="display: grid; grid-template-rows: 1 1 1;">
        <a href="/sales-menu" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Sales
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>

        <a href="/finance-menu" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Finance
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>

          <a href="/hr-menu" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            HR
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>

            <a href="/talent-menu" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
              Talent
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>
      </div>
    

    </div>
  </div>

{% endblock %}
