{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Employees By Department
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/hr-menu">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Employees and their department
      </h1>

      {% if employees and employees.length > 0 %} 
      {% set emprows = [] %} 
      {% for emp in employees %}
      {% set emprows = (emprows.push([{text: emp.emp_first_name}, {text: emp.emp_last_name}, 
                    {text: emp.emp_bu}]), emprows) %} 
      {% endfor %} 
      {{govukTable({ 
         head: [{ text: "Name" },{ text: "Last Name" },
            {text: "Business Unit"} ], 
            rows: emprows }) 
      }} 
      {% else %}
      There are no employees. 
      {% endif %}

    </div>
  </div>

{% endblock %}